.bodyke {
    background-color: #ECE3E2;
    margin: 100px;
    position: relative;
}

.all {
    color: #0D1B46;
    background-color: #65BCBF;
    border: none;
}

.me {
    color: #0D1B46;
    background-color: #65BCBF;
    border: none;
}

.btnn {
    color: #0D1B46;
    background-color: #65BCBF;
    border: none;
}